<html>
<head>
 <title>Python bot interface</title>
</head>
<body>
 <div>
  <form method="post">
    <label for="code">Code</label><br/>
    <textarea name="code" id="code" cols="100" rows= "30">{{ request.form['code'] or code }}</textarea><br/>
    <input type="submit" value="Save">
  </form>
 </div>
 <div>
  <code>{{state}}</code>
 </div>
 <div>
  <form method="post">
    <label for="code">Code</label><br/>
    <textarea name="eval" id="eval" cols="100" rows="2">{{ request.form['eval'] or "" }}</textarea><br/>
    <input type="submit" value="Run">
  </form>
 </div>
 <div>
  <ul>
  {% for e in errors %}
    <li> {{ e.when }}: {{ e.msg }}</li>
  {% endfor %}
  </ul>
 </div>
 <div>
  <form method="post">
    <input type="submit" name="logout" value="Logout">
  </form>
 </div>
</body>
</html>
